<!-- action attribute holds the url of the request it triggers on submit -->
<form action="/answer" method="get">
  <!-- name attribute enables you to set the key of the corresponding parameter -->
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
